<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elf.zerodemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main">
        <meta-data
            android:name="metaName"
            android:value="metaValue" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Main.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.NewsDetailActivity" />
        <activity android:name=".activity.LoopViewPagerActivity" />
        <activity android:name=".activity.AppBaseActivity" />
        <activity android:name=".activity.NewsDetailViewGroupActivity" />
        <activity android:name=".activity.AppUtilsActivity" />
        <activity android:name=".activity.DeviceUtilsActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.NetworkUtilsActivity" />
        <activity android:name=".activity.NetRequestActivity" />
        <activity
            android:name=".activity.TranslucentStatusActivity"
            android:theme="@style/AppTheme.Main.TranslucentStatus" />
    </application>

</manifest>